.rules {
  margin: -100px 0 25px 0;

  &__box {
    background-color: $dark-blue;
    border: 5px solid $white;
    padding: 30px 35px;
    border-radius: 75px;
  }

  &__text {
    margin-bottom: 15px;
    line-height: 1.5;

    &--right {
      margin-bottom: 0;
      text-align: right;
      font-size: 15px;

      @media (max-width: $sm-width) {
        font-size: 13px;
      }
    }
  }
}

.options {
  height: 0;
  opacity: 0;
  position: fixed;

  &--open {
    position: static;
    opacity: 1;
    height: 100%;
    margin-top: -50px;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 15px -15px;
  }

  &__item {
    width: calc(20% - 30px);
    margin: 15px;
    transition: 200ms transform ease;

    @media (max-width: $md-width) {
      width: calc(33.33% - 30px);
    }

    @media (max-width: $sm-width) {
      width: calc(50% - 30px);
    }

    &--active, &:hover, &:active, &:focus {
      transform: scale(1.15);
    }

    label {
      display: block;
      margin: 0 auto;
      text-align: center;
      cursor: pointer;
    }

    input[type="radio"] {
      display: none;
    }
  }

  &--disabled .options__item {
    label {
      cursor: auto;
    }

    &:not(.options__item--active) {
      &:hover, &:active, &:focus {
        transform: scale(1);
      }
    }
  }
}

.games-count {
  margin-bottom: 40px;

  &__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    background-color: $dark-blue;
    border: 5px solid $white;
    border-radius: 75px;
    padding: 15px;
    min-width: 275px;
    width: 30%;
    text-align: center;
    margin: 0 auto;

    &-option {
      border-radius: 50%;
      border: 3px solid $white;
      font-size: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 55px;
      height: 55px;
      cursor: pointer;
      transition: 200ms background-color ease, 200ms transform ease;

      @media (max-width: $md-width) {
        font-size: 30px;
        width: 50px;
        height: 50px;
      }

      &--active, &:hover, &:active, &:focus {
        transform: scale(1.25);
      }

      &--active {
        background-color: $medium-blue;
      }
    }
  }

  &__title {
    margin-bottom: 15px;
  }

  form {
    width: 100%;
    max-width: 225px;
    display: flex;
    justify-content: space-around;

    input[type="radio"] {
      display: none;
    }
  }
}

.outcome {
  height: 0;
  opacity: 0;
  position: fixed;
  background-color: $medium-blue;
  border-top: 5px solid $white;
  padding: 50px 0 25px;
  margin-top: 75px;

  &--open {
    opacity: 1;
    height: 100%;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      width: 5px;
      background-color: $white;
      height: 100%;
    }
  }

  &__sides {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -145px -30px 45px -30px;

    @media (max-width: $md-width) {
      margin: -130px -30px 45px -30px;
    }

    @media (max-width: $sm-width) {
      margin: -120px -15px 45px -15px;
    }

    &-item {
      width: calc(50% + 30px);
      display: flex;
      justify-content: center;

      @media (max-width: $sm-width) {
        width: calc(50% + 15px);
      }
    }

    &-score {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      background-color: $dark-blue;
      border: 5px solid $white;
      border-radius: 50%;
      padding: 15px;
      width: 150px;
      height: 150px;
      text-align: center;

      @media (max-width: $md-width) {
        width: 125px;
        height: 125px;
      }

      @media (max-width: $sm-width) {
        width: 100px;
        height: 100px;
      }
    }

    &-who {
      margin-bottom: 5px;
    }

    p {
      width: 100%;
      font-size: 100px;
      line-height: 75px;

      @media (max-width: $md-width) {
        font-size: 75px;
        line-height: 50px;
      }

      @media (max-width: $sm-width) {
        font-size: 50px;
        line-height: 25px;
      }
    }
  }

  &__choices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 -15px;

    &-item {
      width: 20%;
      padding: 0 15px;
      position: relative;

      @media (max-width: $lg-width) {
        width: 25%;
      }

      @media (max-width: $sm-width) {
        width: 30%;
      }

      &--winner {
        width: 40%;
        padding: 0;
        z-index: 100;
      }
    }
  }
}

.results {
  display: none;
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;

  &--open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    opacity: 0;
    font-size: 125px;
    line-height: 125px;
    margin-bottom: 10px;

    @media (max-width: $md-width) {
      font-size: 100px;
      line-height: 100px;
    }

    @media (max-width: $sm-width) {
      font-size: 75px;
      line-height: 75px;
    }

    &--on {
      opacity: 1;
    }
  }

  &__score {
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 25px;

    @media (max-width: $md-width) {
      font-size: 65px;
      line-height: 65px;
    }

    @media (max-width: $sm-width) {
      font-size: 55px;
      line-height: 55px;
    }
  }

  &__button {
    background-color: $dark-blue;
    border: 5px solid $white;
    border-radius: 75px;
    color: $white;
    font-size: 25px;
    outline: none;
    padding: 15px 25px;
    transition: 200ms background-color ease;

    @media (max-width: $sm-width) {
      font-size: 20px;
    }

    &:hover, &:active, &:focus {
      background-color: $medium-blue;
    }
  }
}
