a {
  color: $white;
  text-decoration: none;
  transition: 200ms color ease;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin: 0;
}

h1 {
  font-size: 80px;

  @media (max-width: $md-width) {
    font-size: 60px;
  }

  @media (max-width: $sm-width) {
    font-size: 40px;
  }
}

h2 {
  font-size: 20px;

  @media (max-width: $sm-width) {
    font-size: 18px;
  }
}

p {
  margin: 0;
}

@font-face {
    font-family: 'Boogaloo';
    src: url('../fonts/boogaloo.woff2') format('woff2'),
         url('../fonts/boogaloo.woff') format('woff'),
         url('../fonts/boogaloo.ttf') format('truetype'),
         url('../fonts/boogaloo.svg') format('truetype');
    font-weight: 400;
    font-style: normal;
}
