@import 'normalize';
@import 'variables';
@import 'typography';
@import 'home';
@import 'header';
@import 'footer';

/*
====================================
Default Styling
====================================
*/

html, body {
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

body {
	background-color: $light-blue;
	color: $white;
	font-family: 'Boogaloo';
	font-size: 20px;
	position: relative;
	letter-spacing: 1px;
	display: flex;
	flex-wrap: wrap;
	min-height: 100vh;

	@media (max-width: $md-width) {
		font-size: 18px;
	}
}

.wrapper {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
	padding: 15px 30px;

	@media (max-width: $sm-width) {
		padding: 15px;
	}
}

.accessible {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
	border: 0 none !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px;
}

.skipnav {
	&:focus, &:active {
		position: absolute !important;
		top: 5px !important;
		left: 42% !important;
		width: 16%;
		background-color: #000;
		padding: 10px;
		color: $white;
		z-index: 9999;
		text-align: center;
		clip: inherit;
		overflow: hidden;
		border: 0 none !important;
		width: auto !important;
		height: auto !important;
		margin: inherit;
	}
}
